.clearfix {
    content: '';
    clear: both;
    display: table;
}


/*new*/
 #new {
     height: 40px;
     position: relative;
     border-bottom: 1px solid lightgrey;
     line-height: 40px;
     display: none;
     background-color: white;
 }

#btn_new{
    height: 20px;
    font-size:12px;
    line-height: 0.5;
    padding: 5px 8px;
    color: #031B4E;
    background-color: #00D7D2;
    border-color: #00D7D2;ù
    border-radius: 5px;

}

#fresh {
    margin-left: 20px;
    color:#5b6987;
    font-weight: bold;
    display:inline-block;
}
#fresh:hover{
    color:blue;
    text-decoration: none;
}

#docs {
    float: right;
    display:inline-block;
    height: 40px;
    margin: 0;
    padding: 0;
}




/*fine new*/



/*nav*/
.logo_a{
    height: 89.6px;
    line-height: 89.6px;
}

.logo {
    height: 29px;
}

header {
    width:100%;
    height: 90px;
    line-height: 90px;
    position: fixed;
    top: 0;
    position: relative;
    background-color:#0248FF;
}

header a svg {
    color: white;
}

header .burger{
    line-height: 78px;
    position: absolute;
    right: 10px;
    height: 89.6px;
}


.sign_up {
    position: absolute;
    top: calc((100% - 34px) / 2);
    right: 10px;
    visibility:hidden;
    padding-left: 5px 10px;

}



#burger_{
    color:hsla(0,0%,100%,.5);
    font-size: 20px;
    right: 0;
    line-height: 5;
}

#menu_nav{
    visibility: hidden;

}

#menu_nav ol li{
    line-height: 98px;
}

.down {
    color: black;
    font-size: 12px;
}



/*fine nav*/


/*jumbo*/

.jumbotron{
    background-color: #0248FF;
    padding-top: 190px;
    padding-bottom: 100px;
}


/*fine jumbo*/




@media screen and (min-width:768px) {

/*new*/

#new {
    height: 40px;
    position: relative;
    border-bottom: 1px solid lightgrey;
    line-height: 40px;
}



/*fine new*/


/*nav*/
#burger_{
    position: absolute;
    right: 0;
    /*top: calc((100% - 20px) / 2)*/
    line-height: 4;



 }


/*fine nav*/

}

@media screen and (min-width:992px) {

}




@media screen and (min-width: 1049px) {

/*new*/

#new {
    display:block;
}

#docs:hover {
    cursor: pointer;
}


/*fine new*/

/*nav*/


    header {
        background-color: #FFFFFF;
        top: 0;
    }

    .my-btn {
        background-color: white;
        color: #0049FF;
        border-color: #0049FF;
        float: right;
    }

    .sign_up {
        visibility: visible;
    }

    #burger_ {
        visibility: hidden;
    }

    #menu_nav{
        visibility: visible;
    }



/*fine nav    */


}
